
 <table class="table table-striped" id="tableware-table">
    <thead class="thead-inverse">
      <tr>
        <th class="text-center">Tuote</th>
        <th class="text-center">Kuvaus</th>
        <th class="text-center">Maksimimäärä</th>
        <th class="text-center">Hinta</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr id="{{ game.id }}" class="clickable-row">
          <td class="text-center">{{ item.name }}</td>
          <td class="text-center">{{ item.description }}</td>
          <td class="text-center">{{ item.max_amount }}</td>
          <td class="text-center">{{ item.price_otaniemi}} €</td>
          <td><img src="#"></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
