{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <script type = "text/javascript">
          $(document).ready(function() {
             $("#driver").click(function(event){
                $('#stage').load();
                console.log()
             });
          });
     </script>
  </head>
  <body>
    {% block content %}
    <p>Click on the button to load result.html file:</p>

     <div id = "stage" style = "background-color:cc0;">
        STAGE
     </div>

     <input type = "button" id = "driver" value = "Load Data" />

    <h2>Ehdot</h2>

    {% endblock %}
  </body>
</html>
