{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}OJS-palvelu{% endblock %}</title>
    <meta charset="utf-8" />
    {% block og_tags %}
    {% endblock %}

    {# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" > #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/astiastosite.css' %}" >
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    {% block stylesheets %}

    {% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  </head>

  <body>
    <div class="container">
      <div>
        <nav class="navbar navbar-expand-lg" >
          <a href="{% url 'astiasto:index' %}">
            <div class="company-info my-2">
              <img src="{% static 'img/logo-1.png' %}" width=10% height=10% class="d-inline-block align-self-lg-baseline" alt="Logo here">
              <a class="navbar-brand">
                  OJS-palvelu
              </a>
            </div>
        </a>
          <ul class="navbar-nav">
            <li class="nav-item"><a href="{% url 'astiasto:index' %}" class="nav-link">Etusivu</a></li>
            <li class="nav-item"><a href="{% url 'astiasto:rent' %}" class="nav-link">Vuokraa</a></li>
            <li class="nav-item"><a href="{% url 'astiasto:terms' %}" class="nav-link">Vuokrausehdot</a></li>
            <li class "nav-item"><a href="{% url 'astiasto:about' %}" class="nav-link">Meistä</a></li>
          </ul>
        </nav>


        {% block content %}

        {% endblock %}
        <div class="footer">
          <h3>OJS-palvelu Oy</h3>
          <h4>Astiasto@jalostajat.fi<h4>
          <h5>© 2018 OJS-palvelu Oy</h5>
          <p>Sitemap tänne! Auttaa google-hauissa...</p>

        </div>

      </div>
    </div>

  </body>
</html>
