
{% extends "base.html" %}
{% load static %}



{% block content %}
  <div class="text-center">
    <h2>Varauskalenteri</h2>
    <p >Alla olevasta kalenterista näet astiastomme varaustilanteen. Huomaathan kuitenkin, että meillä voi olla useita varauksia yhdelle päivälle.
      Jos haluamasi päivä on jo varattu, laita meille silti tarjouspyyntö, niin palaamme asiaan!</p>
  <div class="googleCalendar">
    <iframe src="https://calendar.google.com/calendar/b/8/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=500&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=otnas.fi_ipic7lo8avus76f13gos2a34i8%40group.calendar.google.com&amp;color=%23333333&amp;ctz=Europe%2FHelsinki" style="border-width:0" frameborder="0" scrolling="no"></iframe>
  </div>
  </div>
{% endblock %}
