{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <body>
  {% csrf_token %}
  {% block content %}
  <div class="content">
    <h1 class="text-center">Astiasto</h1>
    <p> Valitse alta tarvitsemasi astiat ja niiden määrät tarjousta varten. Otaniemen
      ulkopuolelle toimitettavien tarjouksen hintaan lisätään toimitusmaksu toimitusmatkan
      perusteella.
    </p>

    <form name="form" method="post">
      {% csrf_token %}
      <script src="{% static 'js/tablewaretable.js' %}" type="text/javascript"></script>
      <div>
        {% for item in items %}
            {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-sm-2">
                    <div class="item">
                        <a href="/{{ item.img }}" data-toggle="lightbox">
                          <div class="text-center"><img src="/{{ item.img }}" class="tablewareimage"></div>
                        </a>
                        <div class="text-center">{{ item.name }}</div>
                        <div class="text-center">{{ item.max_amount }}</div>
                        <div class="text-center price" value="{{ item.price_otaniemi }}">{{ item.price_otaniemi }} €</div>
                        <input class="form-control num" type="number" max="{{ item.max_amount }}" min="0" name="{{ item.name }}" id="{{ item.name }}">
                        <h6>Yhteensä: <span class="total-price">0.00 €</span></h6>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}


      </div>
    <div class="container my-2">
      <form method="post">
        {% csrf_token %}
        <div class="row">
          {% csrf_token %}
          <div class="form-group col-6">
            <label col-lg-2 col-form-label-lg>{{form.name.label}}</label>
            {{ form.name }}
          </div>
          <div class="form-group col-6">
            {% csrf_token %}
            <label col-lg-2 col-form-label-lg>{{form.email.label}}</label>
            {{ form.email }}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label col-lg-2 col-form-label-lg>{{form.phone.label}}</label>
            {{ form.place }}
          </div>
          <div class="form-group col-6">
            <label col-lg-2 col-form-label-lg>{{form.place.label}}</label>
            {{ form.place }}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6" >
            <label col-lg-2 col-form-label-lg>{{form.message.label}}</label>
            {{ form.message }}
          </div>
          <div class="col-6">
            <h3 class="kokonaishinta my-5">Yhteensä: <span class="bill-total">0.00 €</span></h3>

            <!-- RENTAL TERMS BUTTON -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rentalTerms">Katso vuokrausehtomme</button>
            <!-- RENTAL TERMS MODAL POP UP -->

            <div class="modal fade" id="rentalTerms" tabindex="-1" role="dialog" aria-labelledby="rentalTerms" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="rentalTermsTitle">Astiaston yleiset vuokrausehdot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <script src="{% static 'js/terms.js' %}" type="text/javascript"></script>
                    <div><p class="dee"></p></div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
                  </div>
                </div>
              </div>
            </div>

            <p class="my-3"> Hinnat sisältävät arvonlisäveron (24 %)</p>
            <p>
              Otaniemen ulkopuolelle toimitettaviin tilauksiin tarjoukseen
              lisätään toimitusmaksu etäisyyden mukaan.
            </p>
          <button class="btn btn-primary" type="submit" id="send" name="send">Lähetä tarjouspyyntö</button>
        </div>
      </div>
    </form>
    </div>
    </form>

  </div>
    {% endblock %}
  </body>
</html>
