body {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: bold;
    margin:0;
    background-color: #eeeeee;
    color: #000000;


}



.form-group {
  margin: 0 auto;
  text-align: left;
}
#aveclasit {
  width: 30%;
  height: 30%;
}

.footer {
  text-align: center;
  width:100%;
  padding: 4rem;
  background-color: #B60909;
  color: #eeeeee;
  right: 0;
  bottom: 0;
  left: 0;
  position:relative;

}

.nav-item {
  color: #eeeeee;
}

.navbar {
  background-color: #B60909;
  color: #eeeeee;
}

.btn {
  background-color: #B60909;
}



img {

}

 .dee > h2 {
   text-align: center;
 }
 #div1, #aboutpar {
   position: relative;
   left:25%;
   width:50%;
 }
.tablewareimage {
       width: 50px;
       height: 50px;
}

.container-item {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
