body {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: bold;
    margin:0;
    background-color: #eeeeee;
    color: #000000;
}

@media (min-width: 1200px){
  .googleCalendar{
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    width: 70%;
    left: 15%; //Half of the width does the trick ;)
  }
}

.content {
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.googleCalendar{
  position: relative; padding-bottom: 50%; height: 0; overflow: hidden;
}

.googleCalendar iframe{
  position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

.form-group {
  margin: 0 auto;
  text-align: left;
}
#aveclasit {
  width: 30%;
  height: 30%;
}

.footer {
  text-align: center;
  width:100%;
  padding: 4rem;
  background-color: #990000;
  color: #eeeeee;
  right: 0;
  bottom: 0;
  left: 0;
  position:relative;

}

.nav-item {
  color: #eeeeee;
}

.navbar {
  background-color: #990000;
  color: #eeeeee;
}

.btn {
  background-color: #990000;
;
}

img {

}

 .dee > h2 {
   text-align: center;
 }

 #div1, #aboutpar {
   position: relative;
   left:25%;
   width:50%;
 }

.tablewareimage {
       width: 50px;
       height: 50px;
}

.container-item {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
